<!DOCTYPE HTML>
<html>
<!-- 현재 12커밋 -->
<head>
	<title>(주)제이에스에프</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/css/main.css" />
</head>

<body class="is-preload">
	<!-- 상단 작은 메뉴 -->
	<div style="position: relative;width:100%;background-color:#37c0fb;height:26px;">
		<div id="topmenu">
				<ul class="topul">
					<li class="topli"><a href="index.html"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/top_01.png"
                                                                onmouseover="this.src='./images/top_o_01.png'"
                                                                onmouseout="this.src='./images/top_01.png'"></a>
					</li>
					<li class="topli"><a href="#"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/top_02.png"
								onmouseover="this.src='./images/top_o_02.png'"
								onmouseout="this.src='./images/top_02.png'"></a>
					</li>
					<li class="topli"><a href="#"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/top_03.png"
						onmouseover="this.src='./images/top_o_03.png'"
						onmouseout="this.src='./images/top_03.png'"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page-wrapper">
		<!-- Header -->
		<div id="header">
			<!-- 로고 -->
			<h1><a href="index.html"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/css/images/logo.png">(주)제이에스에프</a></h1>
			<!-- 메뉴 -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">Home</a></li>
					<li>
						<a href="#">회사소개</a>
						<ul>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/intro.html">인사말</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/history.html">연혁</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/oc.html">조직도</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/license.html">인허가자료</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/address.html">오시는 길</a></li>
						</ul>
					</li>
					<li>
						<a href="#">사업분야</a>
						<ul>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/bn_build.html">건물관리</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/bn_pipe.html">철강(파이프)판매</a></li>
						</ul>
					</li>
					<li>
						<a href="#">관리분야</a>
						<ul>
							<li><a href="#">경비관리</a></li>
							<li><a href="#">주차관리</a></li>
							<li><a href="#">미화관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#">고객지원</a>
						<ul>
							<li><a href="#">공지사항</a></li>
							<li><a href="#">질문/답변</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>

		<!-- 메인홈페이지 대문 -->
			<section class="wrapper style2">
				<div class="container">
					<header class="major">
						<h2>최고의 건물관리 서비스</h2>
						<p>(주)제이에스에프가 함께합니다!</p>
					</header>
				</div>
			</section>

		<!-- Posts -->
		<section class="wrapper style1">
			<div class="container">
				<div class="row">
					<section class="col-6 col-12-narrower">
						<div class="box post">
							<a href="#" class="image left"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/security01.jpg" alt="" /></a>
							<div class="inner">
								<h3>보안(경비관리)</h3>
								<li>범죄예방활동</li>
								<li>질서유지</li>
								<li>위험방지활동</li>
							</div>
						</div>
					</section>
					<section class="col-6 col-12-narrower">
						<div class="box post">
							<a href="#" class="image left"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/parking.jpg" alt="" /></a>
							<div class="inner">
								<h3>주차관리</h3>
								<li>차량기록유지</li>
								<li>주차질서 및 유도</li>
								<li>주차차량 현황파악 및 조치</li>
							</div>
						</div>
					</section>
				</div>
				<div class="row">
					<section class="col-6 col-12-narrower">
						<div class="box post">
							<a href="#" class="image left"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/cleaning.jpg" alt="" /></a>
							<div class="inner">
								<h3>미화관리</h3>
								<li>쾌적한 환경조성</li>
								<li>실내공기정화</li>
								<li>일상,정기,특별청소 실시</li>
							</div>
						</div>
					</section>
					<section class="col-6 col-12-narrower">
						<div class="box post">
							<a href="#" class="image left"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/disinfection.jpg" alt="" /></a>
							<div class="inner">
								<h3>소독업무</h3>
								<li>유해병해충 사멸</li>
								<li>병해충 유입,이동 차단</li>
								<li>수출입물 검역</li>
							</div>
						</div>
					</section>
					<section class="col-6 col-12-narrower">
						<div class="box post">
							<a href="#" class="image left"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/machine.jpg" alt="" /></a>
							<div class="inner">
								<h3>시설관리</h3>
								<li>안전관리</li>
								<li>기계/전기/소방관리</li>
							</div>
						</div>
					</section>
					<section class="col-6 col-12-narrower">
						<div class="box post">
							<a href="#" class="image left"><img src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/images/pipe.jpg" alt="" /></a>
							<div class="inner">
								<h3>파이프(강관)판매</h3>
								<li>KS/JIS규격</li>
								<li>ASTM,API,ANSI</li>
								<li>스테인리스</li>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>

		<!-- 문의버튼 -->
		<section id="cta" class="wrapper style3">
			<div class="container">
				<header>
					<h2>*연중 주,야 상담 가능</h2>
					<a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/address.html" class="button">문의하기</a>
				</header>
			</div>
		</section>

		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<section class="col-3 col-6-narrower col-12-mobilep">
						<ul class="links">
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/intro.html">인사말</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/history.html">연혁</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/oc.html">조직도</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/license.html">인허가자료</a></li>
							<li><a href="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/address.html">오시는 길</a></li>
						</ul>
					</section>
					<section class="col-3 col-6-narrower col-12-mobilep">
						<ul class="links">
							<li><a href="#">건물관리</a></li>
							<li><a href="#">철강(파이프)납품</a></li>
							<li><a href="#">경비관리</a></li>
							<li><a href="#">주차관리</a></li>
							<li><a href="#">미화관리</a></li>
							<li><a href="#">공지사항</a></li>
							<li><a href="#">질문/답변</a></li>
						</ul>
					</section>
				</div>
			</div>

			<!-- Copyright -->
			<div class="copyright">
				<ul class="menu">
					<li>COPYRIGHT (C) 2022 (주)제이에스에프. ALL RIGHTS RESERVED.</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/js/jquery.min.js"></script>
	<script src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/js/jquery.dropotron.min.js"></script>
	<script src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/js/browser.min.js"></script>
	<script src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/js/breakpoints.min.js"></script>
	<script src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/js/util.js"></script>
	<script src="../../../../../../Downloads/JSF-homepage-Front-end-master/JSF-homepage-Front-end-master/assets/js/main.js"></script>

</body>

</html>